doctype html
html
    head

        body
            div
                block content
                    div
                        | Best regards,
                        br
                        | Nude team
                        a(href='google.com') OUR WEBSITE